<!doctype html>
<!--
Design by Free Responsive Templates
http://www.free-responsive-templates.com
Released for free under a Creative Commons Attribution 3.0 Unported License (CC BY 3.0) 
-->
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>美食美客</title>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
<link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
	<header>
    	<div class="logo"><h1><a href="">美食美客</a></h1></div>
        <nav>
            <ul id="navlist">
                <li id="active"><a href="#">首页</a></li>
                
                <li><a href="#">菜单</a></li>
                <li><a href="#">活动</a></li>
                <li><a href="#">订餐</a></li>
                <li><a href="#">关于</a></li>
            </ul>
        </nav>
        <div class="clearfloat"></div>
    </header>
    <div class="bodyContainer">

        <section>
            <article class="post">
                <a href=""><h1>Type and scrambled it to make a type</h1><img src="images/msmk/pic1.jpg" alt=""></a>
                <p class="smallPost">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                </p>
                <p class="date"><span>Jun 30, 2012</span> <a href="">{ Continue! }</a></p>
            </article>
            <article class="post">
                <a href=""><h1>Lorem Ipsum has been the industry's</h1><img src="images/msmk/pic2.jpg" alt=""></a>
                <p class="smallPost">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                </p>
                <p class="date"><span>Jun 30, 2012</span> <a href="">{ Continue! }</a></p>
            </article>
            <article class="lastPost">
                <a href=""><h1>The industry's standard dummy text</h1><img src="images/msmk/pic3.jpg" alt=""></a>
                <p class="smallPost">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                </p>
                <p class="date"><span>Jun 30, 2012</span> <a href="">{ Continue! }</a></p>
            </article>
            <div class="clearfloat"></div>
            <article class="post">
                <a href=""><h1>With the release of Letraset sheets</h1><img src="images/msmk/pic4.jpg" alt=""></a>
                <p class="smallPost">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                </p>
                <p class="date"><span>Jun 30, 2012</span> <a href="">{ Continue! }</a></p>
            </article>
            <article class="post">
                <a href=""><h1>Desktop publishing software like</h1><img src="images/msmk/pic5.jpg" alt=""></a>
                <p class="smallPost">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                </p>
                <p class="date"><span>Jun 30, 2012</span> <a href="">{ Continue! }</a></p>
            </article>
            <article class="lastPost">
                <a href=""><h1>It has survived not only five centuries, but</h1><img src="images/msmk/pic6.jpg" alt=""></a>
                <p class="smallPost">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                </p>
                <p class="date"><span>Jun 30, 2012</span> <a href="">{ Continue! }</a></p>
            </article>
        </section>
        
    </div>
    <div class="clearfloat"></div>
    <footer>
        <p>
            Copyright &copy; Your Company Name. All rights reserved.
        </p>
    </footer>
</div>
</body>
</html>
